.root {
    -fx-font-family: "Segoe UI Semibold";
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-font-size: 16;
    -fx-text-fill: #181818;
}

.customBorderPane,
.customPane,
.customAnchorPane,
.customVBox,
.customHBox,
.customGridPane,
.customScrollPane,
.customFlowPane {
    -fx-padding: 5;
}

.customVBox,
.customHBox,
.customGridPane,
.customFlowPane {
    -fx-spacing: 10;
    -fx-alignment: center;

}

.customGridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Button ***********************************/

.customButton {
    -fx-text-fill: #F2F8FD;
    -fx-background-color: #0078D7;
    -fx-border-color: #0078D7;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16;
    -fx-text-alignment: center;
    -fx-row-valignment: middle;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-padding: 5 20;
    -fx-content-display: top;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #00233F, 15, 0, 5, 5);
}

.customButton:pressed {
    -fx-background-color: #00508F;
    -fx-border-color: #00508F;
    -fx-effect: dropshadow(three-pass-box, #00233F, 10, 0, 3, 3);
}

.customButton:hover {
    -fx-background-color: #00508F;
    -fx-border-color: #00508F;
}

/* Field ************************************/

.customField,
.customRadioButton {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16;
}

.customField {
    -fx-pref-width: 300;
}

/********************************************/
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-font-size: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-font-size: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/********************************************/

#wrapper {
    -fx-background-image: url("/asset/brand/Background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#container {
    -fx-background-color: #F2F8FDDD;
    -fx-border-color: #00508F;
    -fx-padding: 15;
}

#title {
    -fx-font-size: 24;
    -fx-text-fill: #00508F;
}
