.customButton {
    -fx-pref-width: 250;
    -fx-pref-height: 120;
}

#welcomeLabel {
    -fx-font-size: 24;
}

#brandLabel {
    -fx-font-size: 92;
    -fx-text-fill: #00508F;
    -fx-font-family: "Lexend Deca", "Segoe UI Semibold";
    -fx-font-weight: bold;
}

#container {
    -fx-pref-height: 500;
}

#functionHBox {
    -fx-padding: 30 15 0 15;
    -fx-spacing: 25;
}
