.categoryButton {
    -fx-background-size: 150;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-pref-width: 150;
    -fx-pref-height: 190;
    -fx-alignment: bottom_center;
}

.foodButton {
    -fx-background-size: 150;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-pref-width: 150;
    -fx-pref-height: 200;
    -fx-alignment: bottom_center;
}
